{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  <div>
    <div>
      팔로잉 : <span id="followings-count">{{ person.followings.all|length }}</span> / 팔로워 : <span id="followers-count">{{ person.followers.all|length }}</span>
    </div>
    {% if request.user != person %}
      <div>
        <form id="follow-form" data-user-pk="{{ person.pk }}">
          {% csrf_token %}
          {% if request.user in person.followers.all %}
            <input type="submit" value="Unfollow" id="follow-btn">
          {% else %}
            <input type="submit" value="Follow" id="follow-btn">
          {% endif %}
        </form>
      </div>
    {% endif %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const followForm = document.querySelector('#follow-form')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

    followForm.addEventListener('submit', function(event) {
      event.preventDefault()
      const userPk = event.target.dataset.userPk

      axios({
        method: 'post',
        url: `/accounts/${userPk}/follow/`,
        headers: {'X-CSRFToken': csrftoken},
      })
        .then(response => {
          const isFollowed = response.data.is_followed
          const followBtn = document.querySelector('#follow-btn')

          if (isFollowed === true) {
            followBtn.value = 'Unfollow'
          } else {
            followBtn.value = 'Follow'
          }

          const followersCount = document.querySelector('#followers-count')
          const followingsCount = document.querySelector('#followings-count')
          followersCount.innerText = response.data.followers_count
          followingsCount.innerText = response.data.followings_count
        })
        .catch(error => {
          console.log(error.response)
        })
    })
  </script>
{% endblock %}
